
@{
    ViewBag.Title = "No Resource found";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Oops!</span> No Resource found</p>

                <p class="lead">
                    We're sorry, there has been an error, the resource to the requested page wasn't found.
            </p>
                <div style="margin-top: 15px; margin-bottom: 15px;">
                    @Html.ActionLink("Go back", "Index", "Home", null, new { @class = "btn btn-primary btn-lg", @style = "margin-right:10px;" })

                </div>
            </div>
        </div>
    </div>



