@model IEnumerable<Infrastructure.Models.Informacion>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Announcements</h1>
</div>

<div class="row">
    @foreach (KeyValuePair<int, string> informacion in new Infrastructure.Models.Informacion().Tipos)
    {
        <div class="col-md-4 mt-3">
            @{ 
                string hola = informacion.Key == 1 ? "bg-primary" : informacion.Key == 2 ? "bg-success" : informacion.Key == 3 ? "bg-danger" : informacion.Key == 4 ? "bg-warning" : informacion.Key == 5 ? "bg-info" : "bg-dark";
            }
            <div class="card text-white @hola mb-3" style="max-width: 450px;">
                <div class="card-header"><h2>@informacion.Value</h2></div>
                <div class="card-body" style="height: 300px; overflow: auto; overflow-x: hidden">
                    @foreach (var item in Model)
                    {
                        <div>
                            @if (informacion.Key == item.Tipo)
                            {
                                <h4>@item.Titulo</h4>
                                <p>@item.Descripcion</p>
                                <hr />
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>  
